body{
    font-family: 'Mukta', sans-serif;
    font-family: 'Poppins', sans-serif;
}
section{
    width: 1050px;
    margin-bottom: 50px;
}
a{
    text-decoration: none;
    color: black;
}
main{
    display: flex;
    justify-content: center;
}
.upper-part,.manu-item{
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius: 30px;
}
/* upper part*/
.header{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.title-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title,.photo{
    width: 50%;
    justify-content:space-evenly;
    align-items: center;
    padding: 0 80px;
}
.greatest-show{
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 5px;
}
.discribe-show{
    font-size: 14px;
    font-weight:200;
    margin-top: 0;
    line-height: 23px;
    margin-bottom: 15px;
}
.watch{
    padding: 15px 25px;
    font-weight: 600;
    color: aliceblue;
    background-color: rgb(227, 44, 44);
    border-radius: 7px;
}
.watch .watch-live{
    font-size: 15px;
    font-weight: 200;
    padding-right: 20px;
}
.fa-chevron-circle-right{
    color: aliceblue;
    font-weight: 200;
}

.massi{
    height: 500px;
}

/* middle part */
.middle-part{ 
    display: flex;
    gap: 12px;
}
.manu{
    margin-right:10px;
}
/* button part start */
.button-items{
    display: grid;
    width: 220px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0 15px;
    height: 250px;

}
.button-items a{
    margin-top: 25px;

}
.button-item{
    width: 200px;
    height: 50px;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;

}
.Upcoming-Match {
    background-color: rgb(227, 44, 44); 
}
.Upcoming-Match a{
    color: aliceblue;
}
.blog{
    margin-bottom: 25px ; 
}

.one-news-part{
    margin: 0;
    padding:20px;
    border: 1px solid gray;
    border-radius: 5px;
    height: 210px;
    width: 210px;
}
/* photo part */
.news-items{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 20px;
}

/* match time part*/
.flag {

    height: 40px;
}
.national-flag{
    display: flex;
    justify-content:  space-around;
    align-items:  center;
    padding-top: 50px;
}
.national-flag h2{
    font-size: 12px;
    padding: 0 20px;
}

.news-heading{
    display: grid;
    justify-content: center;
    align-items: center;
}
.news-heading p{
    padding: 0;
    margin: 0;
    font-size: 12px;
    text-align: center;
}

.news-heading{
    padding-left: 10px;
}
.news-heading h3{
    margin-top: 30px;
}
.news-heading p{
    line-height: 0px;
}
.news-heading .news-type{
    display: inline;
    font-size: 13px;
    padding:2px 12px;
    border: 1px solid black;
    border-radius: 3px;
}
.news-heading h3{
    font-size: 15px;
    font-weight: 600;
}
.news-heading i,span{
    font-size: 15px;
    padding: 0 5px;
}


/* button part end */

/* footer */
footer{
    background-color: black;
    color: aliceblue;
}
.container{
    text-align: center;
    padding: 50px;
}
.footer-link{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    color: aliceblue;
}
.footer-link goal{

}
.footer-link a{
    padding: 10px;
    color: aliceblue;
}

.logo i{
    font-size: 25px;
    padding: 20px;
    color: aliceblue;
}

hr{
    border-color: grey;
}


/* for resposive */
@media screen and (max-width:768px){
    .title-body >{
        display: block;

    }
}